@import "tailwindcss";
@font-face {
  font-family: wild;
  src: url("./fonts/WildRangerDemoRegular.ttf");
}
@font-face {
  font-family: nunito;
  src: url("./fonts/Nunito-Regular.ttf");
}

@theme {
  --color-gray-primary: #333;
  --color-purple: #d2a4ff;

  --breakpoint-md: 59.3rem;

  --font-wild: wild;
}

body {
  background: #ffffff;
  color: #333;
  margin: 0.66rem;
  font-family: nunito;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--color-gray-primary);
  background: var(--color-purple);
}

/* scroll main */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 2rem 2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-primary);
  border-radius: 2rem;
}

/* custom scroll */
.custom-scroll::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #bababaa1;
}

.custom-scroll::-webkit-scrollbar-track {
  margin: 3rem 3rem;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-hidden::-webkit-scrollbar {
  height: 0;
}
